@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../../../../.flowbite-react/class-list.json";

@variant dark false;

@theme {
  --color-primary: oklch(53.9% 0.1853 263.4);
}

button {
  display: flex;
  align-items: center;
}

button:not(:disabled) {
  cursor: pointer;
}

hr {
  align-self: stretch;
}
